@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}
.navbar{
    padding: 15px 8%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
}

.logo{
    font-weight: 1000;
    font-size: 20px;
}

.navbar ul{
    padding: 10px 30px;
}
.navbar ul li{
    display: inline-flex;
    padding: 5px 10px;
    margin: 0 10px;
    
}

.navbar button{
    background-color: grey;
    color:whitesmoke;
    padding: 12px 20px;
    border-radius: 30px;
    border: 0;
    outline:0;
    cursor: pointer;
    font-size: 1rem;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin:0 auto;

}

.hero-image{
    width: 100%;
    margin:0 auto;
}

.hero-content{
    text-align: center;
    padding:5px;
}

.navbar a {
    color:#000;
    font-weight: 600;

}

a.active{
    color:teal;
    
}
.about-hero{
    text-align: justify;
    padding:20px 50px;
}
.about-hero1{
    text-align: justify;
    padding:20px 50px;
}
.maincard{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    justify-content: space-around;
     /* background-color: bisque; */
    
    
}
.card2{
    text-align: center;
    padding:5px;
    border: 1px solid #c2a78f;
    border-radius: 15px;
    font-weight: 500;
    background-color: #4a7c7a;
    color: white;
    
}
.card{
    width:300px;
    height: auto;
    background-color: bisque;
    border-radius: 15px;
    
}

.head{
    display: flex;
    justify-content: space-around ;
    padding:20px;
    margin:10px;
}

.search{
    border-radius: 10px;
    padding-left: 10px;
}